* { margin: 0; padding: 0; }

body { background: #172632; color: #fff; font: 13px/1 'Droid Sans', sans-serif; }
code { font-family: 'Meslo LG S DZ', 'Droid Sans Mono', monospace; }
ul { list-style: none; }

.left { float: left; }
.right { float: right; }

.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

.hide { display: none; }
.highlight { color: #FF5E78; }

body > header { padding: 20px 40px; margin: 0 0 20px; }
body > header .logo { font: 18px/1em Corbel, sans-serif; }
body > header .logo span { color: #888; font-size: 15px; }
body > header .logo .icon { color: #aaa; margin: 0 0 0 3px; }

.container { margin: 20px 20px 400px; }

aside { float: left; margin: 59px 0 0; width: 220px;  }
aside ul { padding: 10px 0; }
aside ul a { color: #ccc; display: block; padding: 6px 10px 6px 20px; text-decoration: none; }
aside ul a:hover,
aside ul a:focus { color: #fff; background: #072334; }
aside ul a:focus { background: red; }
aside ul a.active { color: #fff; cursor: default; background: #001929; }
aside ul a.active .icon { float: right; }

section { margin: 0 0 0 240px; background: #54636D; }
section > * { padding: 40px; }
section header { padding-bottom: 0; }
section header h1 { font-size: 20px; font-weight: normal; margin: 0; }

.content dt { color: #DDF1FF; border-bottom: 1px solid #6C7780; margin: 0 0 30px; }
.content dt span { display: block; padding: 0 0 2px; border-bottom: 1px solid #35546A; }
.content dt .icon { margin: 0 2px 0 0; }
.content dd { margin: 0 0 40px; }
.content dd:last-child { margin: 0; }

.content dd.message { font-size: 20px; }
.content dd.message .icon-quote-left,
.content dd.message .icon-quote-right { color: #999; font-size: 16px; vertical-align: top; }
.content dd.message .icon-quote-left { margin-right: 5px; }
.content dd.message .icon-quote-right { margin-left: 5px; }

.stack .file { font-size: 12px; padding: 14px 30px; background: #810D0D; }
.stack .info { background: #BB0000; }
.stack .info .type { color: #FF5E78; }
.stack .info .function { color: #66D9EF; }
.stack .info .arg { color: #A6E22E; }
.stack .info .calls { float: left; width: 300px; padding: 40px 0 40px 20px; }
.stack .info .calls li a { color: #fff; display: block; padding: 10px 2px 10px 10px; border-bottom: 1px solid #900; text-decoration: none; outline: 0; }
.stack .info .calls li { border-bottom: 1px solid #d00; }
.stack .info .calls .number { color: #ccc; }
.stack .info .calls li a .icon { display: none; }
.stack .info .calls li a:hover { background: #e00; }
.stack .info .calls li.active a { background: #800; }
.stack .info .calls li.slide.locked a .icon,
.stack .info .calls li.active a .icon { display: inline; }
.stack .info .calls li:last-child,
.stack .info .calls li:last-child a { border: 0; }
.stack .info .calls li.slide.locked a { background: #800; box-shadow: inset 0 0 10px #500; }
.stack .source-code li.slide { display: none; }
.stack .source-code li.slide.active { display: block; }
.stack .info .help { color: #ddd; font-size: 10px; margin: 0; padding: 30px 0 0 10px; clear: both; }

.stack .info .args { margin: 0 0 0 320px; background: #800; min-height: 400px; }
.stack .info .args .slide > .header { font-size: 14px; margin: 0 0 30px; padding: 0; border: 0; }
.stack .info .args .header { margin: 0 0 10px; padding: 10px; background: #800; border-bottom: 2px solid #600; }
.stack .info .args .slide { display: none; padding: 30px; }
.stack .info .args .slide.active { display: block; }
table.code-dump { width: 100%; }
table.code-dump td:first-child { background: #800; }
table.code-dump td { background: #700; border: solid #600; border-width: 0 2px 2px 0; padding: 10px; }
table.code-dump td.field { color: #ddd; }
table.code-dump .depth-1 > td {  }
table.code-dump td:last-child { border-right-width: 0; }
table.code-dump tr:last-child > td { border-bottom-width: 0; }

table.code-dump tr tr tr > td:first-child,
.stack .info .args tr tr td > .header { background: #a00; }

table.code-dump tr tr tr tr > td:first-child,
.stack .info .args tr tr tr td > .header { background: #800; }

table.code-dump tr tr tr tr tr > td:first-child,
.stack .info .args tr tr tr tr td > .header { background: #a00; }

.source-code .ace_editor { font: 13px/16px 'Meslo LG S DZ', 'Droid Sans Mono', monospace; }
.source-code .ace_scroller { overflow: hidden; }
.source-code .ace_editor:hover .ace_scroller { overflow: visible; }
#editor { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }



.file-info { padding: 10px 30px; font-size: 11px; }


/*.mono { font-family: "Droid Sans Mono", monospace !important; }*/

/*.string { color: red; }*/

/*.variable { color: #00f; }*/
/**/
/*.variable.no-value { color: gray; }*/
/**/
/*.int, .float { color: #0099CC; }*/
/**/
/*.array, .object, .keyword { color: #060; }*/
/**/
/*.constant, .null, .true, .false { color: #A132FF; }*/
/**/
/*.hellip { color: orange; text-decoration: underline; }*/
/**/
/*.trace { border: 1px solid #fff; box-shadow: 2px 2px 0 #555; }*/
/**/
/*.trace:not(:last-child) { margin: 0 0 20px; }*/
/**/
/*.trace .header { line-height: 14px; background: #fff; padding: 12px 20px; color: #000; cursor: pointer; }*/
/**/
/*.trace .file-info { padding: 7px 20px; font-size: 10px; background: #eee; color: #000; }*/
/**/
/*.trace .syntaxhighlighter { font: 12px/16px 'Meslo' !important; padding: 5px !important; }*/
/**/
/*.trace .syntaxhighlighter .gutter .line { border-right: 1px solid #fff !important; }*/
/**/
/*.trace .syntaxhighlighter .gutter .line.highlighted { background: #fff !important; }*/

.introduction { color: #eee; background: #E60000; padding: 2px; }

.introduction .highlight { color: #ff0; }

.footer { margin: 20px 100px; color: #8ECCFF; font-size: 11px; }

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/*.table    { display: table; }*/
/*.tr       { display: table-row }*/
/*.thead    { display: table-header-group }*/
/*.tbody    { display: table-row-group }*/
/*.tfoot    { display: table-footer-group }*/
/*.col      { display: table-column }*/
/*.colgroup { display: table-column-group }*/
/*.td, .th  { display: table-cell }*/
/*.caption  { display: table-caption }*/
